@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&family=Ruwudu:wght@500&display=swap');

:root {
    --fonte-cursiva: 'Edu TAS Beginner', cursive;
    --fonte-serif: 'Ruwudu', serif;
}


body {
    font-family: var(--fonte-serif);
    background-color: #9CC3E4;
    margin: 0;
    padding: 0;
  }

  main{
    display: flex;
    justify-content: space-around;
  }
  
  header{
    background-color: #2B6BA0;
    height: 10vh;
    text-align: center;
    margin-bottom: 2%;
    padding: 2%;
  }

  h1 {
    font-size: 3em;
    margin-top: 0;
    font-family: var(--fonte-cursiva);
    text-align: center;
    color: #fff;

  }
  
  h2 {
    font-size: 1.5em;
    margin-top: 0;
    color: #315d84;
  }
  
img{
    width: 100%;
    height: auto;
}
.coluna{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card{
    width: 15rem;
    height: auto;
    box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F5FAFE;
    padding: 0.5em;
    padding-bottom: 3.4em;
    border: 1px rgba(0,0,0,0.1) solid;
    flex-direction: column;
    margin-bottom: 5%;
    margin-left: 5%;
}

@media screen and (max-width: 768px) {
    
    h1 {
        font-size: 2.5rem;
    }

    main{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    h2 {
        font-size: 2rem;
    }

    .card {
        width: 90%;
    }
}